.contactForm {
    margin: 2rem
}

.contactDiv {
    padding-top: 1.5rem;
    margin-top: 2.6rem;
    background-image: url('./contactUs.png');
    background-repeat: no-repeat;
    background-size: cover;
}