.headCell {
    font-size: 16px;
    cursor: pointer;
    width: 10%;
    z-index: 99999;
    text-align: center !important;
}

.historyContainer {
    background-color: rgb(245, 230, 164) !important;
}