.alignAbout {
    overflow: hidden !important;
}

.wrapper {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 2rem 1rem 1rem 1rem;
}

.descButtons {
    text-align: center;
}

.descriptionHeading {
    font-style: italic;
    text-align: center;
    margin-top: 100px;
    color: #B1A03D;
}

.imgTR img {
    width: 20rem;
    height: 20rem;
}

.productItems {
    text-align: center;
    padding: 1rem;
}

.productTable {
    display: flex;
    justify-content: center;
}

th {
    color: #B1A03D;
}

table {
    max-width: 100% !important;
    display: block;
    overflow: hidden;
    overflow-x: auto;
}

@media screen and (max-width:900px) {
    table {
        max-width: 100% !important;
        display: block;
        overflow: hidden;
        overflow-x: auto;
    }
}

@media screen and (max-width:1250px) {
    .wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width:500px) {
    table {
        max-width: 20rem !important;
    }
    .cartTable table {
        max-width: 100% !important;
    }
    .cartTable {
        padding: 0px 10px !important;
    }
    .imgTR img {
        width: 16rem;
        height: 16rem;
    }
}