
.adminHeading {
    text-align: center!important;
    background-color: rgb(243, 207, 87);
    width: 100%;
    font-size: 2rem !important;
    font-style: italic;
    font-weight: bolder !important;
    margin-top: 2rem  !important;
    width:100%;
}



.adminDashboardButton{
    margin-top: 1rem !important;
    background-color: black!important;
    width: 12rem;
    color:rgba(255, 255, 255, 0.884)!important;
    font-size: 0.7rem;
}

.adminDashboardButton:hover{
transform: scale(1.1);
transition: 0.2s ease-in-out;
}
