.head{
    text-align: center;
    margin:2rem auto;
    color:darkslategray;
}
.linkStyle{
    text-decoration: none;
    color:white;
}
.homeAbout{
background-color: rgb(250, 182, 94);
margin:2rem auto;
}

/* card.js */

.aboutCardHead{
    font-weight:600;
    color:burlywood;
    text-transform: capitalize;
}
.aboutCardDetail{
    color:darkslategray
}