.rootP {
    border: 2px solid rgb(8, 90, 44);
    min-width: 20rem !important;
    max-width: 20rem !important;
    margin: 1rem 1rem;
}

.MuiCardMedia-root {
    max-height: 35rem !important;
}

.MuiButton-textSizeSmall {
    padding: 0px 5px !important;
}

.MuiPaper-rounded {
    border-radius: 20px !important;
}

.MuiCardMedia-img {
    object-fit: cover !important;
    height: 200px !important;
}

.MuiCardActions-root {
    padding: 0px 8px !important;
}

.IFont {
    font-weight: 500;
    font-size: 1.2rem;
    margin-right: 8rem;
    text-transform: capitalize;
}

.cardLink {
    text-decoration: none;
    color: black;
}

.linkItem {
    text-decoration: none;
    color: white;
}

.card_align {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    font-size: 2rem;
    color: orangered;
    margin-right: 1rem;
}

.icon:hover {
    transform: scale(1.1);
}

.button {
    background-color: orangered !important;
    margin-bottom: 2rem;
}

.button:hover {
    background-color: orangered;
    color: white;
    transform: scale(1.2);
}

.stock {
    color: rgb(207, 161, 9);
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}

.notInStock {
    color: red;
    font-style: italic;
}

.rating {
    display: flex;
    justify-content: space-around;
}

.cardName {
    padding: 16px 8px 30px 8px !important;
}