.adminButtons {
    margin: 1rem 0rem !important;
    background-color: lightgrey!important;
    width: 11rem;
    color: #0f0f0fde !important;
    font-size: 1rem;
    font-weight: 600 !important;
    font-style: italic;
}

.adminButtons:hover {
    /* background-color: rgba(214, 224, 73, 0.911)!important; */
    /* color:black !important; */
    background-color: black !important;
    color: whitesmoke !important;
    font-weight: bold;
    transition: 0.3s ease-in-out !important;
    transform: scale(0.8);
}

.mobile {
    display: flex;
    text-decoration: none;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.liBorder {
    border: 2px solid black !important;
}

.resetForm {
    background-color: coral !important;
    padding: 0.4rem 3rem !important;
}