.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.modalWrap {
    position: fixed;
    top: 50%;
    left: 25%;
    width: 60%;
    height: 0;
    pointer-events: none;
    z-index: 100;
}

.modalWrap .modal {
    position: absolute;
    top: 0rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    width: 60%;
    padding: 2rem;
    height: 20rem;
    pointer-events: all;
    max-height: 95vh;
    overflow: auto;
}

.productAddButtonModal {
    color: white !important;
    background-color: crimson!important;
    width: 100% !important;
    text-align: center !important;
    margin-top: 1rem !important;
}

@media screen and (min-width: 651px) and (max-width: 1050px) {
    .modalWrap .modal {
        width: 80%;
    }
}

@media screen and (max-width: 650px) {
    .modalWrap .modal {
        width: 120%;
    }
}