.heading{
    margin-top: 2rem;
    text-align: center;
}


.RecoverPasswordButton{
    margin:1rem auto !important;
    background-color:rgb(35, 184, 35)!important;
    color:white !important;
}
.error{
    color: red;
    border: 1px solid gray;
    padding: 1rem 2rem;
    margin-top: 2rem;
    list-style: none;
    font-style: italic;
    font-weight: bold;
}