.sellerProductContainer {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
}

@media screen and (max-width: 400px) {
    .sellerProductContainer {
        margin-left: 0rem !important;
    }
}