.aboutsectionDivMain {
    margin-top: 2rem;
    width: 100%;
    margin: 0 auto;
}

.aboutsectionDivInner {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.aboutsectionImage {
    display: flex;
    width: 50%;
    height: 22rem;
}

.aboutsectionImage img {
    margin: 0 auto;
    border: 4px solid rgb(255, 183, 0);
    border-radius: 25%;
    width: 80%;
    height: 21rem;
    transition: 1s ease-in-out;
    opacity: 0.7;
}

.aboutsectionImage img:hover {
    opacity: 1;
    border-radius: 50%;
}

.aboutsectionContent {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutsectionContent span {
    font-size: 1.5rem;
    width: 85%;
    word-wrap: break-word;
}

.aboutsectionContent h1 {
    padding-left: 1rem;
    transition: 1s ease-in-out;
}

.aboutsectionContent h1:hover {
    transform: scale(1.1);
    border-radius: 10rem;
}

.moreMargin {
    margin: 0 auto !important;
    cursor: pointer;
    transition: 2s ease-in-out;
}

.linkStyle h1 {
    font-size: 1.5rem !important;
}

.moreMargin:hover {
    transform: scale(1.1);
}

.moreMargin a h1 {
    transition: 1s ease-in-out;
    background-color: burlywood;
    border-radius: 2rem 10rem;
    padding: 0.3rem 0;
}

.moreMargin a h1:hover {
    border-radius: 10rem 2rem;
}

@media screen and (max-width:1350px) {
    .aboutsectionDivInner {
        width: 80%;
    }
    .aboutsectionContent {
        width: 85%;
    }
}

@media screen and (max-width:1100px) {
    .aboutsectionDivInner {
        width: 80%;
    }
    .aboutsectionContent {
        width: 90%;
    }
    .aboutsectionImage {
        height: 21rem;
        width: 55%;
    }
    .aboutsectionContent {
        width: 45%;
    }
}

@media screen and (max-width:1000px) {
    .aboutsectionDivInner {
        width: 90%;
    }
}

@media screen and (max-width:850px) {
    .aboutsectionDivInner {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
    }
    .aboutsectionContent {
        text-align: center;
        width: 100%;
    }
    .aboutsectionContent span {
        width: 100%;
    }
    .aboutsectionContent h1 {
        margin-top: 1rem;
    }
    .flexReverse {
        flex-direction: column-reverse;
    }
}

@media screen and (min-width:850px) {
    .aboutsectionContent span {
        padding-left: 1rem;
    }
    .aboutsectionImage img {
        height: 20rem;
        width: 80%;
    }
}

@media screen and (max-width:700px) {
    .aboutsectionImage img {
        height: 10rem;
        width: 100%;
    }
    .aboutsectionContent span {
        font-size: 1rem;
        margin-top: 1rem;
    }
    .aboutsectionContent h1 {
        font-size: 1.5rem;
        padding: 0 2rem;
        margin-top: 1rem;
    }
    .aboutsectionImage {
        height: 10rem;
        width: 55%;
    }
    .linkStyle h1 {
        font-size: 1rem !important;
    }
}