.signUpLink {
    text-decoration: none;
    color: rgb(14, 85, 70);
    font-weight: 500;
    font-size: 0.9rem;
    text-align: center;
}

.ErrorStyle {
    color: red;
    border: 1px solid gray;
    padding: 1rem 2rem;
    margin-top: 2rem;
    list-style: none;
    font-style: italic;
    font-weight: bold;
}

.MailStyle {
    color: red;
    border: 1px solid gray;
    padding: 1rem;
    margin: 3rem auto;
    list-style: none;
    font-style: italic;
    font-weight: bold;
}

.resetForm {
    display: flex !important;
    margin: 0 auto !important;
    color: white !important;
}

.resetForm:hover {
    transform: scale(1.1);
    transition: 1s ease-in-out;
}