.carousel-root {
    margin-top: 8rem !important;
}

.btn {
    width: 5rem;
    padding: 0.8rem 1rem;
    background-color: rgb(16, 71, 73);
    color: white;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    position: relative;
    top: 20px;
}

.btn:hover {
    background-color: green;
    transition: 0.4s ease;
}

.carousel .slide {
    background: #fff;
}

.control-dots {
    margin: 20px auto;
}

.carousel li.slide img {
    height: 500px;
}

.thumbs-wrapper {
    text-align: center;
}

.thumbs li {
    border: 1px solid green !important;
    height: 80px;
    width: 80px;
}

.thumbs li img {
    height: 80px;
}

.carousel .slide .legend {
    background-color: transparent;
    opacity: 1;
    font-size: 1.5rem;
    position: absolute;
    bottom: 5rem;
    color: rgb(22, 110, 110);
}

.legend p {
    font-size: 2rem;
}

@media screen and (max-width:620px) {
    .legend h1 {
        font-size: 2.5rem;
    }
    .legend p {
        font-size: 1.2rem;
    }
    .legend .btn {
        width: 3rem;
        padding: 0.4rem 0.5rem;
    }
    .carousel-root {
        margin-top: 7rem !important;
    }
}