.table {
    margin: 0 auto;
    min-width: 750px;
    /* margin-left: 2rem; */
    text-align: center;
    text-transform: capitalize;
}

.table tbody tr td {
    text-align: center;
}

.buyerPaper {
    margin-left: 2rem;
    background-color: rgb(245, 230, 164) !important;
}